/*----------HEADER----------*/
header{
    display: flex;
    justify-content: space-around;
}

#divLogo{
    width: 10%;
}

#logo{
    width: 100%;
}

#divTitulo{
    display: flex;
    align-items: center;
}

#titulo{
    width: 100%
}

#divUsuario{
    display: flex;
    flex-direction: column;
}

header a{
    margin: auto;
    font-size: 1.5em;
}

/*----------MAIN----------*/
main{
    margin-top: 50px;
    margin-left: 20px;
    padding-right: 20px;
    height: 540px;
    overflow: auto;
    text-align: justify;
}

h1{
    text-align: center;
}

/*----------FOOTER----------*/
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightblue;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(#446bb3, #74ccf2, #5bb334);
    color: black;
    text-align: center;
}


/*----------GENERALES----------*/
.apartado{
    display: flex;
    flex-direction: column;
}

.margenB-10{
    margin-bottom: 10px;
}
